{% include "header.html" %}
<div id="root" class="app-wrapper"></div>
<script src="/static/js/sdk.js"></script>

<script type="text/javascript">
    (function () {
        let amis = amisRequire('amis/embed');
        // 通过替换下面这个配置来生成不同页面
        let amisJSON = {
            "type": "page",
            "title": "SCA供应链扫描",
            "body": [
                {
                    "type": "button",
                    "label": "路径扫描",
                    "actionType": "dialog",
                    "dialog": {
                        "title": "配置扫描方式",
                        "body": {
                            "type": "form",
                            "api": {
                                "method": "post",
                                "url": "/scan",
                                "dataType": "form"
                            },
                            "body": [
                                {
                                    "type": "input-text",
                                    "name": "path",
                                    "required": true,
                                    "placeholder": "请输入扫描路径,请使用全路径",
                                    "label": "扫描路径"
                                },
                                {
                                    "type": "input-text",
                                    "name": "token",
                                    "placeholder": "若使用token需联网",
                                    "label": "使用密钥"
                                }
                            ]
                        }
                    }
                },
                {
                    "type": "button",
                    "label": "文件扫描",
                    "actionType": "dialog",
                    "dialog": {
                        "title": "文件扫描",
                        "body": {
                            "type": "form",
                            "body": [
                                {
                                        "type":"alert",
                                        "body":"目前只支持单文件上传，且只支持zip格式"
                                },
                                {
                                    "type": "input-file",
                                    "name": "文件",
                                    "label": "压缩的项目文件",
                                    "accept": ".zip",
                                    "receiver": "/upload",
                                    
                                    "maxLength": 1,
                                    "drag": true,
                                    "useChunk":false,
                                    "onEvent": {
                                        "success": {
                                            "actions": [
                                                {
                                                    "actionType": "toast",
                                                    "args": {
                                                        "msgType": "info",
                                                        "msg": "文件上传成功"
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                },
                                {
                                    "type": "input-text",
                                    "name": "token",
                                    "placeholder": "若使用token需联网",
                                    "label": "使用密钥"
                                }
                            ]
                        }
                    }
                },
                {
                    "type": "divider"
                },
                {
                    "type": "alert",
                    "body": "扫描项目过大，可能需要等待较长时间，建议使用异步方式处理"
                },
                {

                    "type": "crud",
                    "name": "sample",
                    "api": "/search",
                    "perPage": 10,
                    "autoGenerateFilter": true,

                    "placeholder": "暂无数据",
                    "tableClassName": "table-db table-striped",
                    "headerClassName": "crud-table-header",
                    "footerClassName": "crud-table-footer",
                    "toolbarClassName": "crud-table-toolbar",
                    "bodyClassName": "panel-default",
                    "headerToolbar": [
                        {
                            "type": "columns-toggler",
                            "align": "right",
                            "draggable": true,
                            "icon": "fas fa-cog",
                            "overlay": true,
                            "footerBtnSize": "sm"
                        },
                        "bulkActions",
                        "reload"
                    ],
                    "bulkActions": [


                    ],
                    "footerToolbar": [
                        "statistics",
                        "switch-per-page",
                        "pagination",
                        "export-csv",
                        {
                            "type": "tpl",
                            "tpl": "当前共有 ${count} 条数据",
                            "className": "v-middle"
                        }
                    ],
                    "columns": [

                        {
                            "name": "id",
                            "label": "ID"
                        },
                        {
                            "name": "path",
                            "label": "扫描路径/文件"
                        },
                        {
                            "name": "filename",
                            "label": "扫描结果",

                        },
                        {
                            "label": "扫描状态",
                            "type": "mapping",
                            "name": "status",
                            "map": {
                                "-1": "扫描中",
                                "1": "已完成"
                            }

                        },
                        {
                            "type": "static-date",
                            "name": "create_time",
                            "label": "创建日期",
                            "format": "YYYY-MM-DD HH:mm:ss"
                        },

                        {
                            "type": "operation",
                            "label": "操作",
                            "buttons": [
                                {
                                    "type": "action",
                                    "label": "下载扫描报告",
                                    "level": "danger",
                                    "actionType": "download",

                                    "api": "/download?filename=${filename}",
                                    "visibleOn": "this.status==1"
                                },
                                {
                                    "type": "button",
                                    "label": "立即查看",
                                    "level": "primary",
                                    "actionType": "url",
                                    "url": "/static/scanlog/${filename}.html",
                                    "visibleOn": "this.status==1"
                                },


                            ]
                        },

                    ]
                },




                {
                    "type": "alert",
                    "body": "有问题可以联系wx:cqwanhl",
                    "className": "text-center"
                }

            ]
        };
        let amisScoped = amis.embed('#root', amisJSON);
    })();
</script>


{% include "footer.html" %}